<!DOCTYPE html>
<html>
<link rel="stylesheet" href="style.css">
<head>
    <meta charset="UTF-8">
    <title>Places - главная страница</title>
    <div>
        <div>
            <a href="/index">
                <img src="src/logo2.png" class="main-logo"/>
            </a>
        </div>
    </div>
</head>
<body class="main-page">
<form>
    <div class="buttonsOne">
        <a href="/museums" class="floating-button">Музеи</a>
        <a href="/theatres" class="floating-button">Театры</a>
        <a href="/galleries" class="floating-button">Галереи</a>
        <a href="/parks" class="floating-button">Парки</a>
    </div>
    <div class="buttonsTwo">
        <a href="/monuments" class="floating-button">Памятники</a>
        <a href="/restaurants" class="floating-button">Рестораны</a>
        <a href="/stadiums" class="floating-button">Стадионы</a>
    </div>
    <div class="buttonsThree">
        <a href="/libraries" class="floating-button">Библиотеки</a>
        <a href="/cafe" class="floating-button">Кафе</a>
    </div>
    <div class="buttonsFour">
            <a href="/cinemas" class="floating-button">Кинотеатры</a>
    </div>
</form>


</body>

</html>
